<div class="container">
    <h2>Client {{name}} has been added to the base</h2>
    <div class="form">
        <p>
            <a href="/client/{{id}}">Go to details</a>
        </p>

    </div>
    <div class="form">
        {{> go-to-clients}}
    </div>
</div>