<div class="container">

    <h2>Client {{name}} updated successfully</h2>
    <div class="form">
        <p>
            <a href="/client/{{id}}">Go to details</a>
        </p>

        {{> go-to-clients}}
    </div>
</div>